<div *ngIf="!brand">Cargando...</div>

<div *ngIf="brand">
    <h2 *ngIf="isEditMode">Editar Marca</h2>
    <h2 *ngIf="!isEditMode">Crear Marca</h2>

    <form (ngSubmit)="saveBrand()">
        <div class="mb-3">
            <label for="name" class="form-label">
                {{ isEditMode ? 'Escriba el nuevo nombre de su marca:' : 'Nombre' }}
            </label>
            <input
                type="text"
                id="name"
                class="form-control"
                [(ngModel)]="brand!.name"
                name="name"
                [placeholder]="isEditMode ? 'Digite su nuevo nombre' : 'Ingrese el nombre'"
                required
            />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button
            type="button"
            class="btn btn-secondary"
            (click)="cancel()"
        >
            Cancelar
        </button>

    </form>
</div>