<div class="container-fluid p-0">
    <!-- Header -->
    <app-header></app-header>
  
    <div class="row g-0">
      <!-- Sidebar -->
        <div class="col-2">
            <app-sidebar></app-sidebar>
        </div>
    
        <!-- Main Content -->
        <div class="col-10 p-4">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
            <!-- <router-outlet></router-outlet> -->
        </div>
    </div>
  
    <!-- Footer -->
    <app-footer></app-footer>
</div>
  